%html
  %head
    %title 
      SideciRailsSandbox
  %body
    = yield
    %div
      very looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong line
    %p = 'Some' + |
         'long' + |
         'string' |
